# IMPORTATION

In [216]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as classifier

# CHARGEMENT DU FICHIER  CSV

In [217]:
data = pd.read_csv("donnee.csv")
data.head()

   in_sf  beds  bath    price  year_built  sqft  price_per_sqft  elevation
0      0   2.0   1.0   999000        1960  1000             999         10
1      0   2.0   2.0  2750000        2006  1418            1939          0
2      0   2.0   2.0  1350000        1900  2150             628          9
3      0   1.0   1.0   629000        1903   500            1258          9
4      0   0.0   1.0   439000        1930   500             878         10

# VERIFICATION DE LA VALIDITE DU FICHIER

In [218]:
data.isnull().describe()

        in_sf   beds   bath  price year_built   sqft price_per_sqft elevation
count     492    492    492    492        492    492            492       492
unique      1      1      1      1          1      1              1         1
top     False  False  False  False      False  False          False     False
freq      492    492    492    492        492    492            492       492

In [219]:
data.shape

(492, 8)

# DECOUPAGE DE LA DONNEE( 75% => train & 25% => test )

In [223]:
data.columns = ['in_sf','beds','bath','price','year_built','sqft','price_per_sqft','elevation']

In [224]:
X = data[['in_sf','beds','bath','year_built','sqft','price_per_sqft','elevation']]
y = data['price']

In [255]:
X_train,X_test = X[0:369],X[370:]
y_train,y_test = y[0:369],y[370:]

In [303]:
clf = classifier(random_state=0,min_samples_leaf=50,max_depth=30).fit(X_train,y_train)
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=30,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=50, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

# PREDICTION DE Y

In [304]:
y_predict = clf.predict(X_test)

In [305]:
val_reelle = data['price'][370:]
for i,j in zip(val_reelle,y_predict):
    #print(int(i)," - ",int(j))
     pass

# SCORE DE PREDICTION

In [306]:
clf.score(X_test,y_test)

0.01639344262295082

# GENERATION DE L'ARBRE DE DECISION(format pdf)

In [315]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
import pydotplus
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,feature_names=['in_sf','beds','bath','year_built','sqft','price_per_sqft','elevation'])
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_pdf("decisiontTree.pdf")

True